[submodule "datacenter-soc"]
	path = datacenter-soc
	url = git@github.com:STAR-Research/datacenter-soc.git
[submodule "DeathStarBench"]
	path = DeathStarBench
        url = git@github.com:edwinlim0919/DeathStarBench.git
