tqdm
requests
regex
sentencepiece
sacremoses
torch
huggingface_hub
transformers
ray[serve]
s3fs
joblib
scikit-learn
pygments
starlette==0.14.2
fastapi==0.68.0
accelerate
tokenizers
bitsandbytes
einops
xformers
langchain
faiss-gpu
sentence_transformers
protobuf
